<%- include('partials/accountheader.ejs') %>
        <main>
            <h1> My Account </h1>
            This is my account info ... <br>
            This page must be password-protected
            
        </main>
<%- include('partials/footer.ejs') %>